

    
    <div class="c-clients">
        
        <div class="c-clients__image">
            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/clients.jpg") %> alt="" width="1240" height="620">
        </div>
        
        <div class="o-section bg-gray">            
            <div class="o-wrap">                                
                
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Nasi klienci</h2>
                </div>
                
                <div class="o-article o-article--big">
                    <p>Nasze doświadczenie obejmuje obsługę</p>
                    <p>klientów z wielu różnorodnych branż.</p>
                    
                    <p>&nbsp;</p>
                </div>
                
                <ul class="o-cols o-cols--3 o-cols--list">
                    <li class="o-cols__item anim anim--up">
                        <dl class="o-iconbox">
                            <dt class="icons">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </dt>

                            <dd>
                                <span class="name">Przemysł<br> chemiczny</span>
                            </dd>
                        </dl>
                    </li>
                    
                    <li class="o-cols__item anim anim--delay1 anim--up">
                        <dl class="o-iconbox">
                            <dt class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </dt>

                            <dd>
                                <span class="name">Przemysł<br> spożywczy</span>
                            </dd>
                        </dl>
                    </li>
                    
                    <li class="o-cols__item anim anim--delay2 anim--up">
                        <dl class="o-iconbox">
                            <dt class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </dt>

                            <dd>
                                <span class="name">Przemysł<br> petrochemiczny</span>
                            </dd>
                        </dl>
                    </li>
                    
                    
                    <li class="o-cols__item anim anim--delay3 anim--up">
                        <dl class="o-iconbox">
                            <dt class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </dt>

                            <dd>
                                <span class="name">Przemysł<br> farmaceutyczny</span>
                            </dd>
                        </dt>
                    </li>
                    
                    <li class="o-cols__item anim anim--delay4 anim--up">
                        <dl class="o-iconbox">
                            <dt class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </dt>

                            <dd>
                                <span class="name">Branża<br> budowlana</span>
                            </dd>
                        </dt>
                    </li>
                    
                    <li class="o-cols__item anim anim--delay5 anim--up">
                        <dl class="o-iconbox">
                            <dt class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </dt>

                            <dd>
                                <span class="name">Branża<br> oponiarska</span>
                            </dd>
                        </dl>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
