

    
    <div class="c-clients">
        
        <div class="c-clients__image">
            <img src=<%= require("./img/photos/clients.jpg") %> alt="" width="1240" height="620">
        </div>
        
        <div class="o-section bg-gray">            
            <div class="o-wrap">                                
                
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 splitting--right js-split" data-splitting>Nasi klienci</h2>
                </div>
                
                <div class="o-article o-article--big">
                    <p>Nasze doświadczenie obejmuje obsługę</p>
                    <p>klientów z wielu różnorodnych branż.</p>
                    
                    <p>&nbsp;</p>
                </div>
                
                <ul class="o-cols o-cols--3">
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </div>

                            <span class="name">Przemysł<br> chemiczny</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </div>

                            <span class="name">Przemysł<br> spożywczy</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </div>

                            <span class="name">Przemysł<br> petrochemiczny</span>
                        </div>
                    </li>
                    
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </div>

                            <span class="name">Przemysł<br> farmaceutyczny</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </div>

                            <span class="name">Branża<br> budowlana</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-services-2.png") %> alt="" width="60" height="60">
                            </div>

                            <span class="name">Branża<br> oponiarska</span>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
