
    <div class="c-methods">
        <div class="o-section bg-gray">            
            <div class="o-wrap">                                
                
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 splitting--right js-split" data-splitting>Sprawdzone metody</h2>
                </div>
                
                <div class="o-article o-article--big anim anim--up">
                    <p>Dotrzymujemy</p>
                    <p>najwyższych standardów.</p>
                    
                    <p>&nbsp;</p>
                </div>
                
                <ul class="o-cols o-cols--3 o-cols--list anim anim--up">
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-arrow-right.png") %> alt="" width="40" height="35">
                            </div>

                            <span class="name">Zapewniamy bezpieczeństwo transportowanego ładunku</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-arrow-right.png") %> alt="" width="40" height="35">
                            </div>

                            <span class="name">Dopasowujemy rozwiązania do potrzeb klienta</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-arrow-right.png") %> alt="" width="40" height="35">
                            </div>

                            <span class="name">Gwarantujemy szybki oraz skuteczny kontakt</span>
                        </div>
                    </li>
                    
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-arrow-right.png") %> alt="" width="40" height="35">
                            </div>

                            <span class="name">Zapewniamy bezpieczeństwo transportowanego ładunku</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-arrow-right.png") %> alt="" width="40" height="35">
                            </div>

                            <span class="name">Dopasowujemy rozwiązania do potrzeb klienta</span>
                        </div>
                    </li>
                    
                    <li class="o-cols__item">
                        <div class="o-cols__listitem">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-arrow-right.png") %> alt="" width="40" height="35">
                            </div>

                            <span class="name">Gwarantujemy szybki oraz skuteczny kontakt</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
