
    <div class="c-services">
        <div class="o-section">
            <div class="o-wrap">
            
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Nasze usługi</h2>
                </div>


                <div class="o-cols anim anim--up">
                    <div class="o-cols__item">
                        
                        <div class="c-services__title">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-contact.png") %> alt="" width="100" height="100">
                            </div>
                        
                            <span class="name">Transport<br> chemiczny</span>
                        </div>

                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <a href="service.html" class="o-btn o-btn--minor">Zobacz szczegóły</a>
                    </div>
                </div>
                
                <div class="o-cols anim anim--up">
                    <div class="o-cols__item">
                        
                        <div class="c-services__title">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-contact.png") %> alt="" width="100" height="100">
                            </div>
                        
                            <span class="name">Transport<br> spożywczy</span>
                        </div>

                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <a href="service.html" class="o-btn o-btn--minor">Zobacz szczegóły</a>
                    </div>
                </div>
                
                <div class="o-cols anim anim--up">
                    <div class="o-cols__item">
                        
                        <div class="c-services__title">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-contact.png") %> alt="" width="100" height="100">
                            </div>
                        
                            <span class="name">ISO kontenery</span>
                        </div>

                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <a href="service.html" class="o-btn o-btn--minor">Zobacz szczegóły</a>
                    </div>
                </div>
                
                <div class="o-cols anim anim--up">
                    <div class="o-cols__item">
                        
                        <div class="c-services__title">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-contact.png") %> alt="" width="100" height="100">
                            </div>
                        
                            <span class="name">Flexi Tanki</span>
                        </div>

                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <a href="service.html" class="o-btn o-btn--minor">Zobacz szczegóły</a>
                    </div>
                </div>
                
                <div class="o-cols anim anim--up">
                    <div class="o-cols__item">
                        
                        <div class="c-services__title">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-contact.png") %> alt="" width="100" height="100">
                            </div>
                        
                            <span class="name">Usługa piąta</span>
                        </div>

                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <a href="service.html" class="o-btn o-btn--minor">Zobacz szczegóły</a>
                    </div>
                </div>
                
                <div class="o-cols anim anim--up">
                    <div class="o-cols__item">
                        
                        <div class="c-services__title">
                            <div class="icon">
                                <img src=<%= require("./img/assets/icon-contact.png") %> alt="" width="100" height="100">
                            </div>
                        
                            <span class="name">Usługa szósta</span>
                        </div>

                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <a href="service.html" class="o-btn o-btn--minor">Zobacz szczegóły</a>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
