
    <div class="c-servboxes">
        <div class="o-wrap">
            <div class="o-section">
                
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 splitting--right js-split" data-splitting>Nasze usługi</h2>
                </div>
                
                <div class="o-cols">
                    <div class="o-cols__item anim anim--up">
                        <a href="service.html" class="o-box" style="--background: url(<%= require("./img/services/chemical-transport.jpg") %>)">
                            
                            <div class="o-box__title">
                                <i class="icon-services-1"></i>
                                <span class="o-lead o-lead--3">Transport Chemiczny</span>
                            </div>
                            
                            <img src=<%= require("./img/services/chemical-transport.jpg") %> alt="" width="295" height="440">
                        </a>
                    </div>
                    
                    <div class="o-cols__item anim anim--delay1 anim--up">
                        <a href="service.html" class="o-box" style="--background: url(<%= require("./img/services/food-transport.jpg") %>)">
                            
                            <div class="o-box__title">
                                <i class="icon-services-1"></i>
                                <span class="o-lead o-lead--3">Transport Spożywczy</span>
                            </div>
                            
                            <img src=<%= require("./img/services/food-transport.jpg") %> alt="" width="295" height="440">
                        </a>
                    </div>
                    
                    <div class="o-cols__item anim anim--delay2 anim--up">
                        <a href="service.html" class="o-box" style="--background: url(<%= require("./img/services/iso-containers.jpg") %>)">
                            
                            <div class="o-box__title">
                                <i class="icon-services-1"></i>
                                <span class="o-lead o-lead--3">ISO kontenery</span>
                            </div>
                            
                            <img src=<%= require("./img/services/iso-containers.jpg") %> alt="" width="295" height="440">
                        </a>
                    </div>
                    
                    <div class="o-cols__item anim anim--delay3 anim--up">
                        <a href="service.html" class="o-box" style="--background: url(<%= require("./img/services/flexi.jpg") %>)">
                            
                            <div class="o-box__title">
                                <i class="icon-services-1"></i>
                                <span class="o-lead o-lead--3">Flexi Tanki</span>
                            </div>
                            
                            <img src=<%= require("./img/services/flexi.jpg") %> alt="" width="295" height="440">
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
